* {
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}
.dark-theme {
  --primary-color: #212121;
  --secondary-color: #fff;
}
#icon {
  width: 35px;
  cursor: pointer;
}
nav ul {
  flex: 1;
  text-align: right;
}
.hero {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  font-family: sans-serif;
  position: relative;
}
nav {
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
  cursor: pointer;
}
nav ul li {
  list-style: none;
  margin: 10px 20px;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}
nav ul li a:hover {
  color: #ff4321;
}
.info {
  margin-left: 8%;
  margin-top: 15%;
}
.info h1 {
  font-size: 70px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
span {
  color: #ff4321;
}
.info p {
  line-height: 22px;
  color: #606163;
}
.info a {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  margin: 30px 0;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}
.img-box {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}
.img-box img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.img-box:hover .back-img {
  bottom: 40px;
}
.img-box:hover .main-img {
  left: 55%;
}

.social-links {
  margin-left: 8%;
  margin-top: 80px;
}
.social-links a {
  font-size: 30px;
  color: #606163;
  margin-right: 20px;
}
.social-links a:hover {
  color: #ff4321;
}
